<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13438540950-fd1144428erkmocb115h9bh88uj3c0hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13438540950-fd1144428erkmocb115h9bh88uj3c0hq</string>
	<key>API_KEY</key>
	<string>AIzaSyBhqeSZV19sMMHDuUc21Ef2z5IILhCPBH4</string>
	<key>GCM_SENDER_ID</key>
	<string>13438540950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blog.a21500057.handong.edu.flutterAppGoogleLogin</string>
	<key>PROJECT_ID</key>
	<string>login-5f80e</string>
	<key>STORAGE_BUCKET</key>
	<string>login-5f80e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13438540950:ios:f363d27fcb2b4b04ed76b7</string>
	<key>DATABASE_URL</key>
	<string>https://login-5f80e.firebaseio.com</string>
</dict>
</plist>